.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Donation-button {
  width: 3vw;
  min-width: 36px;
  position: fixed;
  bottom: 6px;
  left: 6px;
}

.Donation-coffee-pic {
  /* width: 3vw;
  min-width: 36px; */
  width: 100%;
  /* position: relative; */
  /* bottom: 6px;
  left: 6px; */
}

.Donation-hover-text {
  /* background-color: whitesmoke; */
  background-color: rgba(255, 255, 255, .95);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6px;
  font-size: calc(0.9em);
  border-radius: 12px;
  /* width: 6em; */
  /* position: fixed; */
  /* bottom: 6px;
  left: calc(36px + 1.5vw); */
}